extends layout

block content
  div(style="text-align:center")
    h1(style="text-align:left")= "Movies"
    each movie in movies
      hr
      p
        img(src=`${movie.url}` class="poster" alt="")
      p
        h4= `${movie.title} / ${movie.year}` 
    hr
    h1(style="text-align:left")= "Trending Movies"  
    each trendingMovie in trendingMovies
      hr
      p
        img(src=`${trendingMovie.url}` class="poster" alt="")
      p
        h4= `${trendingMovie.title} / ${trendingMovie.year}` 
         
